@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Fraunces:wght@500;600;700;800;900&display=swap");

//##Fonts

$font-text: "Barlow", sans-serif;
$font-title: "Fraunces", serif;
$font-size: 18px;

// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
// (graphic design text)
$dark-desaturate-cyan: hsl(167, 40%, 24%);
// (photography text)
$dark-blue: hsl(198, 62%, 26%);
// (footer)
$dark-moderate-cyan: hsl(168, 34%, 41%);

// ### Neutral
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: $font-size;
}

//--------------------------Header-------------------------------

header {
  background-image: url("./../images/desktop/image-header.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;

  .header-nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: $white;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
  }
  /*-----------Links and button--------------*/
  .header-nav-link {
    color: $white;
    text-decoration: none;
    position: relative;
    // padding: 0 20px;
    font-family: $font-text;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 0.05em;
    transition: all ease-in-out 0.2s;
    padding-bottom: 8px;
    font-weight: 500;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }

  .header-nav-btn {
    background-color: $white;
    color: $very-dark-desaturated-blue;
    border: none;
    text-transform: uppercase;
    padding: 18px 26px;
    text-decoration: none;
    border-radius: 100px;
    transition: all ease-in-out 0.2s;
    font-family: $font-title;
    font-size: 0.8rem;
    font-weight: 800;
    text-align: center;

    &:hover {
      background-color: hsla(255, 255, 255, 0.3);
      cursor: pointer;
      color: $white;
    }
  }
  /*-----------Logo--------------*/
  .header-nav-logo:hover {
    cursor: pointer;
  }

  .hero-text {
    color: $white;
    font-size: 2.3rem;
    letter-spacing: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-title;
    padding-bottom: 100px;
    margin-top: 100px;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-brand {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75vh;

  .main-brand_text {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 8rem;
    h2 {
      font-family: $font-title;
      color: $very-dark-desaturated-blue;
      font-size: 2rem;
      font-weight: 900;
      display: block;
      margin-bottom: 1.9rem;
    }
    p {
      font-family: $font-text;
      font-weight: 500;
      color: $dark-grayish-blue;
      display: block;
      margin-bottom: 1.9rem;
      line-height: 1.8rem;
    }
    a {
      text-decoration: none;
      font-family: $font-title;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: $very-dark-desaturated-blue;
      background-image: linear-gradient(120deg, #fef4b7 0%, #fef4b7 50%);
      background-repeat: no-repeat;
      background-size: 25% 20%;
      background-position: 0 100%;
      transition: background-size 0.18s ease-in;
      &:hover {
        background-size: 25% 50%;
      }
    }
  }

  .main-brand_img {
    background-image: url("./../images/desktop/image-transform.jpg");
    height: auto;
    background-position: center;
    background-size: cover;
  }
}

.main-audience {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75vh;

  .main-audience_img {
    background-image: url("./../images/desktop/image-stand-out.jpg");
    height: auto;
    background-position: center;
    background-size: cover;
  }

  .main-audience_text {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 8rem;
    h2 {
      font-family: $font-title;
      color: $very-dark-desaturated-blue;
      font-size: 2rem;
      font-weight: 900;
      display: block;
      margin-bottom: 1.9rem;
    }
    p {
      font-family: $font-text;
      font-weight: 500;
      color: $dark-grayish-blue;
      display: block;
      margin-bottom: 1.9rem;
      line-height: 1.8rem;
    }
    a {
      text-decoration: none;
      font-family: $font-title;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: $very-dark-desaturated-blue;
      background-image: linear-gradient(120deg, #fdb9ae 0%, #fdb9ae 50%);
      background-repeat: no-repeat;
      background-size: 25% 20%;
      background-position: 0 100%;
      transition: background-size 0.18s ease-in;
      &:hover {
        background-size: 25% 50%;
      }
    }
  }
}

.main-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75vh;

  .main-images_green {
    background-image: url("./../images/desktop/image-graphic-design.jpg");
    height: auto;
    background-position: center;
    background-size: cover;
    .main-images_green-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20rem 8rem;
      h3 {
        font-family: $font-title;
        color: $dark-desaturate-cyan;
        font-size: 1.8rem;
        font-weight: 900;
        display: block;
        margin-bottom: 1.9rem;
      }
      p {
        font-family: $font-text;
        font-weight: 600;
        color: $dark-desaturate-cyan;
        display: block;
        margin-bottom: 1.9rem;
        text-align: center;
        line-height: 1.5rem;
      }
    }
  }

  .main-images_blue {
    background-image: url("./../images/desktop/image-photography.jpg");
    height: auto;
    background-position: center;
    background-size: cover;
    .main-images_blue-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20rem 8rem;
      h3 {
        font-family: $font-title;
        color: $dark-blue;
        font-size: 1.8rem;
        font-weight: 900;
        display: block;
        margin-bottom: 1.9rem;
      }
      p {
        font-family: $font-text;
        font-weight: 600;
        color: $dark-blue;
        display: block;
        margin-bottom: 1.9rem;
        text-align: center;
        line-height: 1.5rem;
      }
    }
  }
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .testimonials-title {
    padding-top: 10rem;
    margin-bottom: 4rem;
    h3 {
      font-family: $font-title;
      color: $grayish-blue;
      font-size: 1.4rem;
      font-weight: 900;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }
  }

  .testimonials-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 5rem;
    margin-bottom: 10rem;
    .card {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      align-items: center;
      .card-pic {
        margin-bottom: 2rem;
        img {
          border-radius: 50%;
          height: 4rem;
          width: 4rem;
        }
      }
      .card-text {
        width: 20rem;
        margin-bottom: 2rem;
        p {
          font-family: $font-text;
          font-weight: 600;
          color: $very-dark-grayish-blue;
          text-align: center;
          line-height: 1.5rem;
          font-size: 0.9rem;
          padding: 1rem;
        }
      }
      .card-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-name_title {
          font-family: $font-title;
          color: $very-dark-desaturated-blue;
          font-size: 1rem;
          font-weight: 900;
          margin-bottom: 0.7rem;
        }
        .card-name_job {
          font-family: $font-text;
          font-weight: 600;
          color: $grayish-blue;
          font-size: 0.8rem;
        }
      }
    }
  }
}

//----------------------------------MEDIA QUERIES-------------------------------

@media screen and (min-width: 1440px) {
  .header-nav {
    padding: 20px 100px;
  }

  .burger {
    display: none;
  }
  .header-nav-links {
    position: inherit;
    right: 0px;
    left: 42vw;
    height: 80px;
    top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transform: translateX(0%);

    li {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .header-nav-btn {
    margin-left: 20px;
  }
}
